<!DOCTYPE html>
<html>
  <head>
    <title>BABS Stock Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <nav class="navbar navbar-light" style="background-color: #f6f6f6;padding-bottom: 15px;">
    <a href="/" style="color: black;">Dividend Tracker</a>
    <% if signed_in? %>
      Signed in as: <%= current_user.email %>
      <%= button_to 'Sign out', sign_out_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign in', sign_in_path %>
    <% end %>
  </nav>

  <body>
    <%= yield %>     
  </body>
</html>
